html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto";
}

.header {
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 21;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

.header-login {
  background-color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  border: 1px solid #e0e0e0;
  width: 78px;
  height: 40px;
  cursor: pointer;
  margin-right: 16px;
}
.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-login:hover,
.header-login:focus,
.header-login:active {
  background-color: #57ad56;
  transition: 1s;
}

/*Header styles finish*/

/*search styles start*/
.search-line {
  border: none;
  border-bottom: 1px solid #757575;
  background-color: transparent;
  color: inherit;
  outline: none;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.search-container {
  padding-top: 130px;
  margin-bottom: 56px;
}
/*Seach styles finish*/

/*Restaurants styles start*/
.title {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 308px);
  grid-template-rows: repeat(3, 366px);
  row-gap: 20px;
  column-gap: 20px;
  margin-bottom: 80px;
}

.card-link {
  text-decoration: none;
  transition: 1s;
  transition-duration: 1s;
  transition-timing-function: ease;
  transition-delay: 0s;
  transition-property: all;
}

.card-link:hover {
  transform: scale(1.03);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.122);
  border-radius: 10px;
}

h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: black;
}

.name {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1d1d1d;
  margin-bottom: 4px;
}

.price-and-kitchen {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #626262;
  margin-bottom: 4px;
  margin-top: 0px;
}

.delivery-time {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 21px;
  color: #1d1d1d;
  margin-top: 0px;
}
/*Restaurants styles finish*/

/*footer styles start*/
.footer {
  background-color: #262626;
  width: 100%;
}

.footer-logo {
  margin-top: 56px;
  margin-bottom: 41px;
}

hr {
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.4;
  margin-bottom: 40px;
}

.main-footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer-lang {
  color: #fff;
  background-color: #979797;
  width: 227px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  transition: 1s;
  background: url("/components/world.svg") no-repeat center left 10%;
  padding-left: 50px;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  margin-top: 0px;
  margin-bottom: 33px;
}

.footer__lang:hover {
  box-shadow: 5px 5px 10px rgba(167, 163, 163, 0.282);
  border-radius: 10px;
  background: #3b3b3b;
}

.footer-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}

.hashtag {
  color: #49a144;
}

.footer-title {
  margin: 0px 0px 17px 0px;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding-left: 0px;
  margin: 0px;
}

.social-pic {
  margin-right: 12px;
}

.footer-list-left {
  margin: 0px;
  padding: 0px;
  margin-left: 97px;
}

.footer-list-right {
  margin: 0px;
  padding: 0px;
  margin-left: 128px;
}

.footer-list-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #fff;
}

.footer-list-link:hover, .footer-list-link:active, .footer-list-link:focus {
    opacity: 0.75;
}

.footer-list-component {
  margin-bottom: 23px;
}

.footer-container {
  margin-bottom: 40px;
}

.footer-shop-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-shop-logo {
  margin-right: 41px;
}

.footer-shop-logo {
  margin-top: 0px;
  margin-bottom: 40px;
}

.footer-list-last {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 40px;
}

.footer-last-link {
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-decoration: none;
}

.footer-last-link:hover, .footer-last-link:focus, .footer-last-link:active {
    opacity: 0.75;
}

/*footer styles finish*/
