html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Roboto";
  font-weight: 400;
  font-weight: 500;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

/*Header styles start*/
.header {
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 21;
}

.header-login {
  background-color: #fff;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  border: 1px solid #e0e0e0;
  width: 78px;
  height: 40px;
  cursor: pointer;
  margin-right: 16px;
}
.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-login:hover,
.header-login:focus,
.header-login:active {
  background-color: #57ad56;
  transition: 1s;
}
/*Header styles finish*/

/*Pushkin styles start*/
.main-pic {
  width: 100%;
  padding-top: 74px;
}

.pushkin-card {
  background-color: #fff;
  width: 389px;
  height: 204px;
  position: absolute;
  top: 152px;
  text-align: center;
  box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
  border-radius: 2px;
}

.card-name {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  color: #1d1d1d;
  margin: 38px 38px 0 38px;
}

.price-time {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 54px;
  align-items: center;
}

.cash-kitchen {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #626262;
  margin-left: 38px;
}

.time {
  background: #262626;
  border-radius: 16px;
  width: 100px;
  height: 32px;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #fff;
  margin-right: 29px;
  border: 0;
}
/*Pushkin styles finish*/

/*Menu styles start*/
.menu {
  border: 1px solid rgba(117, 117, 117, 0.2);
  border-top: 0px;
  margin-bottom: 56px;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding: 0px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.menu-item {
  margin-right: 40px;
}

.menu-item:last-child {
  margin-right: 0px;
}

.menu-item-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #626262;
}

.menu-item-link:hover,
.menu-item-link:active {
  opacity: 0.5;
}

.first-link {
  color: #327430;
}
/*Menu styles finish*/

/*Snacks styles start*/
.snacks-title {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  color: #1d1d1d;
}

.snack-cards-container {
  display: grid;
  grid-template-columns: repeat(2, 470px);
  grid-template-rows: repeat(3, 150px);
  row-gap: 49px;
  column-gap: 16px;
  margin-bottom: 80px;
}

.snack-card-link {
  text-decoration: none;
}

.snack-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-decoration: none;
  border: 0.5px solid rgba(117, 117, 117, 0.2);
  border-radius: 2px;
  transition: 1s;
}

.snack-card:hover {
  box-shadow: 5px 5px 15px #75757533;
  transform: scale(1.03);
  cursor: pointer;
}

.snack-card-header {
  margin-top: 16px;
  margin-left: 16px;
  margin-bottom: 83px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1d1d1d;
}

.snack-price {
  margin-left: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  color: #1d1d1d;
}

.snack-photo {
  float: right;
}
/*Snacks styles finish*/

/*Footer styles start*/
.footer {
  background-color: #262626;
  width: 100%;
}

.footer-logo {
  margin-top: 56px;
  margin-bottom: 41px;
}

hr {
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.4;
  margin-bottom: 40px;
}

.main-footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.footer-lang {
  color: #fff;
  background-color: #979797;
  width: 227px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  transition: 1s;
  background: url("/components/world.svg") no-repeat center left 10%;
  padding-left: 50px;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  margin-top: 0px;
  margin-bottom: 33px;
}

.footer__lang:hover {
  box-shadow: 5px 5px 10px rgba(167, 163, 163, 0.282);
  border-radius: 10px;
  background: #3b3b3b;
}

.footer-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
}

.hashtag {
  color: #49a144;
}

.footer-title {
  margin: 0px 0px 17px 0px;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding-left: 0px;
  margin: 0px;
}

.social-pic {
  margin-right: 12px;
}

.footer-list-left {
  margin: 0px;
  padding: 0px;
  margin-left: 97px;
}

.footer-list-right {
  margin: 0px;
  padding: 0px;
  margin-left: 128px;
}

.footer-list-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #fff;
}

.footer-list-link:hover,
.footer-list-link:active,
.footer-list-link:focus {
  opacity: 0.75;
}

.footer-list-component {
  margin-bottom: 23px;
}

.footer-container {
  margin-bottom: 40px;
}

.footer-shop-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footer-shop-logo {
  margin-right: 41px;
}

.footer-shop-logo {
  margin-top: 0px;
  margin-bottom: 40px;
}

.footer-list-last {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 40px;
}

.footer-last-link {
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  text-decoration: none;
}

.footer-last-link:hover,
.footer-last-link:focus,
.footer-last-link:active {
  opacity: 0.75;
}
/*Footer styles finish*/
